body {
  height: 800px;
  width: 800px;
  position: relative;
}

.context-menu {
  z-index: 3;
  background-color: white;
  width: 130px;
  height: 200px;
  position: absolute;
  box-shadow: -1px 0px 9px -2px rgba(0, 0, 0, 0.75);
}
.context-menu ul {
  list-style-type: none;
}
.context-menu ul li {
  margin-left: 20px;
  margin-top: 5px;
  font-weight: 500;
  color: black;
  cursor: pointer;
  list-style-type: none;
}

.folder {
  width: 350px;
  height: 160px;
  box-shadow: -1px 0px 9px -2px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 250px;
  left: 460px;
}
.folder input {
  margin-top: 5px;
  width: 80%;
  height: 30px;
}
.folder .buttons {
  width: 100%;
  display: flex !important;
}
.folder .buttons button {
  width: 100px;
  height: 40px;
  margin-left: 10px;
  margin-top: 20px;
}

.for-new-divs {
  width: 300px;
  height: 200px;
  border: 1px solid red;
  position: relative;
  top: 50px;
  left: 100px;
}
